<h1>
    {{ ( anime.id )? 'Editar' : 'Nuevo' }}
    Anime
    <small>{{ anime.name }}</small> 
</h1>

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">
        
        <div fxLayout="row" 
             fxLayout.xs="column" 
             fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" >
                <mat-label>Anime</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="anime.name"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Nombre en japonés</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="anime.jap_name"
                       required>
            </mat-form-field>
        </div>


        <mat-form-field>
            <mat-label>Breve Descripción</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="anime.breve"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="anime.description"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Episodios</mat-label>
            <input matInput
                   type="number"
                   [(ngModel)]="anime.episodes"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Categorías</mat-label>
            <input matInput
                   type="string"
                   [(ngModel)]="anime.categorie"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Estudio</mat-label>
            <input matInput
                   type="string"
                   [(ngModel)]="anime.studio"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Puntuación</mat-label>
            <input matInput
                   type="number"
                   [(ngModel)]="anime.rating"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dónde ver</mat-label>
            <input matInput
                   type="string"
                   [(ngModel)]="anime.wtw"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput
                   type="url"
                   [(ngModel)]="anime.img"
                   required>
        </mat-form-field> 

        <br>


        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ ( anime.id )? 'Actualizar' : 'Crear' }}
            </button>
        
            <span class="spacer"></span>

            <button *ngIf="anime.id"
                    mat-raised-button
                    (click)="borrarAnime()"
                    color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>

    <div fxFlex="50">
        <img [src]="anime | imagen">
    </div>

</div>