<mat-sidenav-container fullscreen>
    
  <mat-sidenav #sidenav mode="push">
      
      <mat-toolbar color="primary">
          <span>Menú</span>
          <span class="spacer"></span>
          <button mat-icon-button
                  (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          
      </mat-toolbar>

      <mat-nav-list>
          <a routerLink="./listado"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>list</mat-icon>
              <span>Listado</span>
          </a>

          <a routerLink="./favoritos"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>whatshot</mat-icon>
              <span>Favoritos</span>
          </a>

          <a routerLink="./noticias"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>info</mat-icon>
              <span>Últimas noticias</span>
          </a>

          <a routerLink="./subir"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>add</mat-icon>
              <span>Añadir Anime</span>
          </a>

          <a routerLink="./buscar"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>search</mat-icon>
              <span>Buscar Anime</span>
          </a>

          <a routerLink="./foro"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>group</mat-icon>
              <span>Foro</span>
          </a>

          <a mat-list-item
    (click)="logout()">
    <mat-icon mat-list-icon>exit</mat-icon>
Logout
        </a>
          
      </mat-nav-list>
      
  </mat-sidenav>
  

  <mat-toolbar>
      
      <button mat-icon-button
              (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <div>
          <a routerLink="./listado">
              <span>Home</span>
          </a>
              
        
            <button mat-button [matMenuTriggerFor]="categorias">
              <span>Categorías</span>
            </button>
            <mat-menu #categorias="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Drama</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>whatshot</mat-icon>
                <span>Comedia</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Aventura</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Shounen</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Romance</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Terror</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Misterio</span>
              </button>
            </mat-menu>
      
            <a routerLink="./noticias">
              <span>Novedades</span>
          </a>
      
            <button mat-button>
              <span>Tus favoritos</span>
            </button>   
      
            <button mat-button>
              <span>Foro</span>
            </button>
          </div>
          <span class="fill-remaining-space"></span>


      <span>{{ auth.usuario }} </span>

      
  </mat-toolbar>


  <div class="container">
      <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>