<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>whatshot</mat-icon>
          <span>Favoritos</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
  
      <button mat-button>
        <span>Home</span>
      </button>
  
      <button mat-button [matMenuTriggerFor]="categorias">
        <span>Categorías</span>
      </button>
      <mat-menu #categorias="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Drama</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>whatshot</mat-icon>
          <span>Comedia</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Aventura</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Shounen</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Romance</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Terror</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Misterio</span>
        </button>
      </mat-menu>

      <button mat-button>
        <span>Favoritos</span>
      </button>

      <button mat-button>
        <span>Novedades</span>
      </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
