<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Listado</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Añadir anime</span>
        </button>
        <button mat-menu-item>
          <mat-icon>search</mat-icon>
          <span>Buscar anime</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Mi cuenta</span>
        </button>
      </mat-menu>
      <span class="fill-remaining-space"></span>

    <div>
  
      <button mat-button>
        <span>Home</span>
      </button>
  
      <button mat-button [matMenuTriggerFor]="categorias">
        <span>Categorías</span>
      </button>
      <mat-menu #categorias="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Drama</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>whatshot</mat-icon>
          <span>Comedia</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Aventura</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Shounen</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Romance</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Terror</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Misterio</span>
        </button>
      </mat-menu>

      <button mat-button>
        <span>Novedades</span>
      </button>

      <button mat-button>
        <span>Tus favoritos</span>
      </button>   

      <button mat-button>
        <span>Foro</span>
      </button>
    </div>
      <span class="fill-remaining-space"></span>
      

      <button mat-button
      (click)="logout()">
  Logout
</button>
</mat-toolbar>

