
<mat-grid-list cols="1" *ngIf="!anime; else divAnime">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divAnime>
    
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">

         <div fxFlex="50">
             <h1>{{ anime.name }} <small>- {{ anime.jap_name }} </small></h1>
             <mat-divider></mat-divider>
             <br>
             <img [src]="anime | imagen">
         </div>

         <div fxFlex="50">
             <h1>Ficha técnica</h1>
             <mat-divider></mat-divider>
             <br>
             <mat-list>
                 <mat-list-item> - {{ anime.description }} </mat-list-item>
                 <mat-list-item> - {{ anime.episodes }} </mat-list-item>
                 <mat-list-item> - {{ anime.categorie }} </mat-list-item>
                 <mat-list-item> - {{ anime.studio }} </mat-list-item>
                 <mat-list-item> - {{ anime.rating }} </mat-list-item>
             </mat-list>

             <br>
             <button mat-button
                     color="warn"
                     (click)="regresar()">
                 Regresar
             </button>
         </div>

    </div>


</ng-template>


