<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="100" fxLayout="column">
        
<div fxLayout="row" 
fxLayout.xs="column" 
fxLayoutGap="20px"
fxLayoutAlign="start center">

<mat-form-field fxFlex="100" fxLayout.xs="column" fxLayoutAlign="start center" >
    <mat-label>Email</mat-label>
    <input matInput
           type="email"
           [(ngModel)]="auth.email"
           required>
 </mat-form-field>

 <div fxLayout="row" 
fxLayoutAlign="start center"
fxLayout.xs="column" 
fxLayoutGap="20px">
<mat-form-field fxFlex="100" fxLayout.xs="column" fxLayoutAlign="start center" >
   <mat-label>Usuario</mat-label>
   <input matInput
          type="text"
          [(ngModel)]="auth.usuario"
          required>
</mat-form-field>

<div fxLayout="row" 
fxLayoutAlign="start center"
fxLayout.xs="column" 
fxLayoutGap="20px">
<mat-form-field fxFlex="100" fxLayout.xs="column" fxLayoutAlign="start center" >
   <mat-label>Contraseña</mat-label>
   <input matInput
          type="password"
          [(ngModel)]="auth.password"
          required>
</mat-form-field>
</div>